<!doctype html>
<html class="landing-login-register"
      lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
>
<head>
    <link th:href="@{/css/landing-login-register.css}" rel="stylesheet">
    <link th:href="@{/css/xmain.css}" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8">
    <title>Login</title>
</head>
<body>
<div class="container-main">
    <div class="navbar">
        <a th:href="@{/home}" id="navLogo">Luke &amp; Ella 2022</a>
        <a sec:authorize="hasAuthority('ADMIN')" th:href="@{/users}" id="nav1">Users</a>
        <a th:href="@{/itinerary}" id="nav2">Itinerary</a>
        <a th:href="@{/faqs}" id="nav3" >Q&amp;A</a> <!---->
        <a th:href="@{/gifts}" id="nav4">Gift List</a>
    </div>
    <div class="container-sub">
        <form th:action="@{/login}" method="post">
            <input name="username" type="email" class="input-fields" id="email" placeholder="username" />
            <input name="password" type="password" class="input-fields" id="password" placeholder="password"/>
            <button type="submit" class="input-fields" id="login-button">Login</button>
        </form>
        <a th:href="@{/register}"><div class="input-fields">Register</div></a>
    </div>
</div>
</body>
</html>