<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Gifts</title>
</head>
<body>
<div class="container">
    <div class="gift-list-container">
        <div class="gift-item" th:each="gift:${gift_list}">
            <div class="gift-image">
                <img th:src="@{/(image=${gift.image})}" >
            </div>
            <div class="gift-info">
                <table>
                    <tr><td th:text="${gift.name}"></td></tr>
                    <tr><td th:text="${gift.description}"></td></tr>
                    <tr><td th:text="${gift.price}"></td></tr>
                    <tr><td><a th:href="@{/gifts.link}" th:text="${gift.link}"></a></td></tr>
                    <tr><td><form th:action="@{/gifts/reserve/confirm}" th:object="${gift}" method="post"><button type="submit">Reserve</button></form></td></tr>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>