<!doctype html>
<html id="gifts"
      lang="en"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8">
    <link th:href="@{/css/gifts.css}" rel="stylesheet" />
    <link th:href="@{/css/xmain.css}" rel="stylesheet" />
    <title>Gifts</title>
</head>
<body>

<div class="container-main">
    <div class="navbar">
        <a th:href="@{/home}" id="navLogo">Luke &amp; Ella 2022</a>
        <a sec:authorize="hasAuthority('ADMIN')" th:href="@{/users}" id="nav1">Users</a>        <a th:href="@{/itinerary}" id="nav2">Itinerary</a>
        <a th:href="@{/faqs}" id="nav3" >Q&amp;A</a> <!---->
        <a th:href="@{/gifts}" id="nav4">Gift List</a>
    </div>
    <div class="gift-list">
        <div sec:authorize="hasAuthority('ADMIN')" class="gift-div">
            <!--UPDATE GIFT INFO-->
            <form th:action="@{/update/gift}" th:object="${gift_to_update_or_add}" method="post" id="update-gift-form">
                <div class="gift-div-line"><h3>Update gift</h3></div>
                <div class="gift-div-line"><input type="number" th:field="*{id}" placeholder="ID" /></div>
                <div class="gift-div-line"><input type="text" th:field="*{name}" placeholder="Name" /></div>
                <div class="gift-div-line"><input type="number" step="0.01" th:field="*{price}" placeholder="Price" /></div>
                <div class="gift-div-line"><input type="text" th:field="*{link}" placeholder="link" /></div>
                <div class="gift-div-line"><textarea th:field="*{description}" placeholder="Description..."></textarea></div>
                <div class="gift-div-line"><input type="submit" value="Update gift" /></div>
            </form>
        </div>
        <div sec:authorize="hasAuthority('ADMIN')" class="gift-div">
            <!--ADD NEW GIFT-->
            <form  th:action="@{/new/gift}" th:object="${gift_to_update_or_add}" method="post">
                <div class="gift-div-line"><h3>Add gift</h3></div>
                <div class="gift-div-line"><input type="text" th:field="*{name}" placeholder="name" /></div>
                <div class="gift-div-line"><input type="number" step="0.01" th:field="*{price}" placeholder="price" /></div>
                <div class="gift-div-line"><input type="text" th:field="*{link}" placeholder="link" /></div>
                <div class="gift-div-line"><textarea th:field="*{description}" placeholder="description"></textarea></div>
                <div class="gift-div-line"><input type="submit" value="Add gift" /></div>
            </form>
        </div>
        <div th:each="gift : ${gifts}" class="gift-div">
            <div class="gift-div-line"><h2 th:text="${gift.g.name}"></h2></div>
            <div class="gift-div-line"><h4><a th:href="${gift.g.link}" th:text="${gift.g.description}"></a></h4></div>
            <div class="gift-div-line"><h4 th:text="'€' + ${gift.g.price}"></h4></div>
            <div class="gift-div-line" sec:authorize="hasAuthority('VISITOR')">
                <p>To reserve a gift or cancel a reservation, please register/login.</p>
            </div>
            <div class="gift-div-line" sec:authorize="hasAuthority('VISITOR')">
                <h4><a th:href="@{/login}"><span>Login</span></a></h4>
                <h4><a th:href="@{/register}"><span>Register</span></a></h4>
            </div>
            <div class="gift-div-line" sec:authorize="hasAuthority('MEMBER')"><p>Select percentage to reserve.</p></div>
            <div sec:authorize="hasAuthority('MEMBER')"> <!--Only show option to reserve to users with role USER (and not to VISITOR)-->
                <form th:if="${gift.res == false}" th:action="@{/reserve/{id} (id = ${gift.g.id})}" th:object="${percentage}" method="post">
                   <div class="gift-div-line">
                       <select th:if="${gift.g.splitable == true}" th:field="*{p}"> <!--only display for splitable gifts-->
                           <option value="25">25%</option>
                           <option value="50">50%</option>
                           <option value="75">75%</option>
                           <option value="100">100%</option>
                       </select>
                   </div>
                    <div class="gift-div-line">
                        <!--Hide "Reserve" button if gift has already been reserved. Need to also cover this on the back end-->
                        <input  type="submit" value="Reserve" />
                    </div>
                </form>
                <form th:if="${gift.res == true}" th:action="@{/cancel-reservation/{id} (id = ${gift.g.id})}" method="post">
                    <input  class="gift-div-line" type="submit" value="Cancel reservation" />
                </form>
            </div>
            <div sec:authorize="hasAuthority('ADMIN')">
                <div class="gift-div-line"><p th:text="'ID: ' + ${gift.g.id}"></p></div>
                <div class="gift-div-line"></div><form  th:action="@{/delete/{id} (id = ${gift.g.id})}" th:method="delete">
                    <input  type="submit" value="Delete gift" />
                </form>
            </div>
        </div>
        <div id="hack"></div>
    </div>
</div>
</body>
</html>