<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Gift added</title>
</head>
<body>
<div class="navbar">
    <a th:href="@{/home}" id="navLogo">Luke &amp; Ella 2022</a>
    <a th:href="@{/where}" id="nav1">Where</a>
    <a th:href="@{/itinerary}" id="nav2">Itinerary</a>
    <a th:href="@{/faqs}" id="nav3" >Q&amp;A</a> <!---->
    <a th:href="@{/gifts}" id="nav4">Gift List</a>
</div>
  <div align="center">
    <h2>Gift Added Successfully!</h2>
    <span>Name:</span><span th:text="${gift.name}"></span><br/>
    <span>Description:</span><span th:text="${gift.description}"></span><br/>
    <button><a href="/gift/all">Show all gifts</a></button>
    <button><a href="/gift/add">Add another gift</a></button>
  </div>
</body>
</html>