<!DOCTYPE html>
<html class="landing-login-register" lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <link th:href="@{/css/landing-login-register.css}" rel="stylesheet">
  <link th:href="@{/css/xmain.css}" rel="stylesheet">
  <meta charset="UTF-8">
  <title>Verification Failed</title>
</head>
<body>
<div class="container-main">
  <div class="container-sub">
    <h3>Your verification failed.</h3>
    <p>You may have already verified your account by double-clicking the link. Please check your
    other browser tabs for a success message.</p>
  </div>
</div>
</body>
</html>