<!doctype html>
<html id="landing" lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8">

  <link th:href="@{/css/landing.css}" rel="stylesheet">
  <link th:href="@{/css/xmain.css}" rel="stylesheet">

  <title>Welcome</title>
</head>
<body>
<div class="container-main">
  <div class="sub-container">
    <div class="input-fields"><a th:href="@{/login}">Login</a></div>
    <div class="input-fields"><a th:href="@{/register}">Register</a></div>
  </div>
</div>
</body>
</html>