<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Gifts</title>
</head>
<body>
<div class="container">
    <div class="gift-list-container">
        <div class="gift-item" th:each="gift:${gift_list}">
            <div class="gift-image">
                <img th:src="@{/(image=${gift.image})}" >
            </div>
            <div class="gift-info">
                <table>
                    <tr><td th:text="gift.name">Name</td></tr>
                    <tr><td th:text="gift.description">Description</td></tr>
                    <tr><td th:text="gift.price">€0.00</td></tr>
                    <tr><td th:text="gift.link">€0.00</td></tr>
                    <tr><td><form th:action="@{/reserve}" th:object="${reserved_gift}" method="post"><button type="submit">Reserve</button></form></td></tr>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>