<!doctype html>
<!-- <html id="index" lang="en" xmlns:th="http://www.thymeleaf.org"> -->
<html id="index" lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8">
  <!--   <link th:href="@{/styles/css/main.css}" rel="stylesheet">
    <link th:href="@{/styles/css/home.css}" rel="stylesheet"> -->
  <link rel="stylesheet" href="main.css">
  <link rel="stylesheet" href="index.css">
  <title>Luke &amp; Ella 2022</title>
</head>
<body>
<div class="container">
  <div class="login" id="login">
    <form>
      <input type="text" class="input-fields" id="username" placeholder="username"/>
      <input type="password" class="input-fields" id="password" placeholder="password"/>
      <button type="submit" class="input-fields" id="login-button">Login</button>
      <button type="button" class="input-fields" id="register-button">Register</button>
    </form>
  </div>
</div>
</body>
</html>