<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
>
<head>
  <meta charset="UTF-8">
  <title>Failed to add user</title>
</head>
<body>
<div class="navbar">
  <a th:href="@{/home}" id="navLogo">Luke &amp; Ella 2022</a>
  <a sec:authorize="hasAuthority('ADMIN')" th:href="@{/users}" id="nav1">Users</a>
  <a th:href="@{/itinerary}" id="nav2">Itinerary</a>
  <a th:href="@{/faqs}" id="nav3" >Q&amp;A</a> <!---->
  <a th:href="@{/gifts}" id="nav4">Gift List</a>
</div>
<div align="center">
  <h2>Failed to add user becasue specified roles does not exist.</h2>
</div>

</body>
</html>