<!doctype html>
<html lang="en"
      id="manage-users"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8">
  <link th:href="@{/css/manage-users.css}" rel="stylesheet" />
  <link th:href="@{/css/xmain.css}" rel="stylesheet" />
  <title>Manage Users</title>
</head>
<body>
<div class="container-main">
  <div class="navbar">
    <a th:href="@{/home}" id="navLogo">Luke &amp; Ella 2022</a>
    <a sec:authorize="hasAuthority('ADMIN')" th:href="@{/users}" id="nav1">Users</a>
    <a th:href="@{/itinerary}" id="nav2">Itinerary</a>
    <a th:href="@{/faqs}" id="nav3" >Q&amp;A</a> <!---->
    <a th:href="@{/gifts}" id="nav4">Gift List</a>
  </div>
  <div class="users-container">
    <div class="user-block">
      <h2>Add new user</h2>
      <form th:action="@{/new/user}" th:object="${new_user}" method="post">
        <div class="user-block-line"><input type="text" th:field="*{email}" placeholder="email"/></div>
        <div class="user-block-line"><input type="password" th:field="*{password}" placeholder="password"/></div>
        <div class="user-block-line">
          <select th:field="*{role}">
            <option value="ADMIN">ADMIN</option>
            <option value="MEMBER">MEMBER</option>
          </select>
        </div>
<!--        <div class="manage-users-hack"></div>-->
        <div class="user-block-line"><button type="submit" >Add user</button></div>
      </form>
    </div>
    <div class="user-block">
      <h2>Update user info</h2>
      <form th:action="@{/update/user}" th:object="${user_to_update}" method="post">
        <div class="user-block-line"><input type="number" th:field="*{id}" placeholder="ID"/></div>
        <div class="user-block-line"><input type="text" th:field="*{email}" placeholder="email" /></div>
        <div class="user-block-line"><input type="password" th:field="*{password}" placeholder="password"/></div>
<!--        <div class="manage-users-hack"></div>-->
        <div class="user-block-line"><button type="submit">Update</button></div>
      </form>
    </div>
    <div class="user-block" th:each="user : ${users}">
      <div class="user-block-line"><h2 th:text="'ID: ' + ${user.id}"></h2></div>
      <div class="user-block-line"><h4 th:text="'Email: ' + ${user.email}"></h4></div>
      <div class="user-block-line" th:if="${user.hasRole('ADMIN')}"><h4>Admin? true</h4></div>
      <div class="user-block-line" th:unless="${user.hasRole('ADMIN')}"><h4>Admin? false</h4></div>
      <div class="user-block-line"><button><a th:href="@{/update/user-admin-status/{id} (id = ${user.id})}" >Toggle admin</a></button></div>
      <div class="user-block-line"><button><a th:href="@{/delete/user/{id} (id=${user.id})}">Delete user</a></button></div>
    </div>
    <div class="hack"></div>
  </div>
</div>
</body>
</html>