<!doctype html>
<html
      lang="en"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8">
  <link th:href="@{/css/manage-users.css}" rel="stylesheet" />
  <link th:href="@{/css/xmain.css}" rel="stylesheet" />
  <title>Manage Users</title>
</head>
<body>
<div class="container-main">
  <div class="navbar">
    <a th:href="@{/home}" id="navLogo">Luke &amp; Ella 2022</a>
    <a sec:authorize="hasAuthority('ADMIN')" th:href="@{/users}" id="nav1">Users</a>
    <a th:href="@{/itinerary}" id="nav2">Itinerary</a>
    <a th:href="@{/faqs}" id="nav3" >Q&amp;A</a> <!---->
    <a th:href="@{/gifts}" id="nav4">Gift List</a>
  </div>
  <div th:each="user : ${users}">
    <h2 th:text="'ID: ' + ${user.id}"></h2>
    <p th:text="${user.email}"></p>
    <p th:if="${user.hasRole('ADMIN')}">This user is an admin</p>
    <p th:unless="${user.hasRole('ADMIN')}">This user is not an admin</p>
    <h3><a th:href="@{/update/user-admin-status/{id} (id = ${user.id})}" >Toggle user's admin status</a></h3>
    <h3><a th:href="@{/delete/user/{id} (id=${user.id})}">Delete this user</a></h3>
  </div>
  <div>
    <h2>Add new user</h2>
    <form th:action="@{/new/user}" th:object="${new_user}" method="post">
      <div><label>Email</label></div>
      <div><input type="text" th:field="*{email}" /></div>
      <div><label>Password</label></div>
      <div><input type="password" th:field="*{password}" /></div>
      <div><label>Description</label></div>
      <div>
        <select th:field="*{role}">
          <option value="ADMIN">ADMIN</option>
          <option value="MEMBER">MEMBER</option>
        </select>
      </div>
      <div><input type="submit" value="Add user" /></div>
    </form>
    <h2>Update user info</h2>
    <form th:action="@{/update/user}" th:object="${user_to_update}" method="post">
      <div><label>ID</label></div>
      <div><input type="number" th:field="*{id}" /></div>
      <div><label>Email</label></div>
      <div><input type="text" th:field="*{email}" /></div>
      <div><label>Password</label></div>
      <div><input type="password" th:field="*{password}" /></div>
      <div><label>Description</label></div>
      <div><input type="submit" value="Update user" /></div>
    </form>
  </div>
</div>
</body>
</html>