#FAQs{
    background: url("../images/onTopOfTheHill2.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow-x: hidden;
    overflow-y: scroll;
    margin-bottom: 100px;
}
.faqsGrid{
    grid-column: 2/span 10;
    grid-row-start: 4;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px 20px;

}
.cell{
    background: rgba(255, 255, 255, 0.2);
    border-style: solid;
    border-color: #434C3B;
    border-width: 1px;
    color: #343b2e;
}
.cell h3{
    font-size:1.5em;
    font-style: italic;
    padding: 2%;
}
.cell p{
    font-size: 1em;
    padding: 2%;
}
.cell:hover{
    color: #2a2e26;
    border-color: #434c3b;
    background: rgba(255,255,255,0.9);
}
.cell:hover h3{
    color: #2a2e26;
}
.cell:hover p{
    color: #2a2e26;
}
.cell a:visited, .cell a:link, .cell a:active{
    text-decoration: none;
    color: #434C3B;
    font-size:1em;
}
.cell a:hover{
    text-decoration: none;
    color: #2a2e26;
    font-size:1em;
}