#gifts {
    background: url("../images/billieAndDewieWhiteCouch.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
body{
    overflow-x: hidden;
    overflow-y: scroll;
}
.gift-list{
    grid-row: 5 / span 6;
    grid-column: 3 / span 8;
    align-content: center;
}
.gift-div{
    text-align: center;
    color: #343b2e;
    background: rgba(255,255,255,0.4);
    border-style: solid;
    border-color: #2a2e26;
    border-width: 1px;
    padding: 1%;
    margin-bottom: 2%;
    text-decoration: none;
    align-content: center;
}
.gift-div button{
    width:175px;
}
.gift-div input{
    width:175px;
}
.gift-div textarea{
    width:175px;
}
.gift-div-line{
    padding-top: 2px;
    padding-bottom: 5px;
}

/*.gift-div-line{*/
/*    width: 175px;*/
/*    border-style: solid;*/
/*    border-width:1px;*/
/*    border-color: #434c3b;*/
/*    border-radius: 2px;*/
/*    padding: 5px 5px 5px 5px;*/
/*    margin-bottom: 10px;*/
/*    background:rgba(255,255,255,0.5);*/
/*    color:#434c3b;*/
/*    text-align: center;*/
/*    font-size: small;*/
/*}*/
.gift-div a{
    text-decoration: none;
    color: #343b2e;
}
.gift-div a:hover{
    color: #434c3b;
}
.gift-div button{
    width: 175px;
}
.gift-div input{
    width: 175px;
}
.gift-div select{
    width: 175px;
    text-align: center;
    color: #343b2e;
}
.gift-div-line{
    padding-top: 2px;
    padding-bottom: 5px;
}
.gift-div-line input{
    text-align: center;
}
.gift-div-line option{
    text-align: center;
}
#hack{
    width: 100%;
    padding-bottom: 20px;
}

/*.gift-list{*/
/*    grid-row-start: 3;*/
/*    grid-column: 4 / span 6;*/
/*}*/
/*.gift-div{*/
/*    width:100%;*/
/*    height: auto;*/
/*    border-style: solid;*/
/*    border-width: 1px;*/
/*    border-color: #343b2e;*/
/*    color: #343b2e;*/
/*    margin-bottom: 15px;*/
/*    padding-top: 3%;*/
/*    padding-bottom: 1%;*/
/*    background: rgba(255,255,255, 0.3);*/
/*    display: grid;*/
/*    grid-template-columns: 1fr 1fr;*/
/*}*/
/*.gift-info-span{*/
/*    grid-column: 1 / span 2;*/
/*    padding: 2% 5%;*/
/*    align-content: center;*/
/*}*/
/*.gift-info-left{*/
/*    grid-column: 1 / span 1;*/
/*    padding: 2% 5%;*/
/*}*/
/*.gift-info-right{*/
/*    grid-column: 2 / span 1;*/
/*    padding: 2% 5%;*/
/*}*/
/*.gift-div a{*/
/*    text-decoration: none;*/
/*    color: #2a2e26;*/
/*}*/
/*.gift-div a :hover{*/
/*    color: #434c3b;*/
/*}*/
