#gifts {
    background: url("../images/billieAndDewieWhiteCouch.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}
body{
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-color: #b8b8b8 #666666;
    scrollbar-width: thin;
}

.gift-div{
    grid-column: 4 / span 6;
    border-style: solid;
    border-width: 1px;
    border-color: #343b2e;
    color: #343b2e;
    margin-bottom: 15px;
    background: rgba(255,255,255, 0.3);
}