#landing{
    background: url("../images/atTheSeaCroppedBottom2.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
/*Fade-in animation*/
@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.sub-container{
    grid-column: 6/span 2;
    grid-row: 5/span 5;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    animation: fadein 10s;
}
.input-fields{
    border-style: solid;
    border-width:1px;
    border-color: #434c3b;
    padding: 5px 5px 5px 5px;
    margin-bottom: 10px;
    width: 100%;
    background:rgba(255,255,255,0.5);
    color:#434c3b;
}
.input-fields :hover{
    border-color: #343b2e;
    color: #2a2e26;
    background: rgba(255,255,255,0.8);
}


