#manage-users{
    background: url("../images/ella_and_billie_at_the_sea.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow-x: hidden;
}
.users-container{
    grid-row: 5 / span 6;
    grid-column: 3 / span 8;
    align-content: center;
}
.user-block{
    text-align: center;
    color: #343b2e;
    background: rgba(255,255,255,0.4);
    border-style: solid;
    border-color: #2a2e26;
    border-width: 1px;
    padding: 1%;
    margin-bottom: 2%;
    text-decoration: none;
}
/*.user-block-input{*/
/*    width: 175px;*/
/*    border-style: solid;*/
/*    border-width:1px;*/
/*    border-color: #434c3b;*/
/*    border-radius: 2px;*/
/*    padding: 5px 5px 5px 5px;*/
/*    margin-bottom: 10px;*/
/*    background:rgba(255,255,255,0.5);*/
/*    color:#434c3b;*/
/*    text-align: center;*/
/*    font-size: small;*/
/*}*/
.user-block a{
    text-decoration: none;
    color: #343b2e;
}
.user-block a:hover{
    color: #434c3b;
}
.user-block button{
    width: 175px;
}
.user-block input{
    width: 175px;
}
.user-block select{
    width: 175px;
    text-align: center;
    color: #343b2e;
}
.manage-users-hack{
    height: 12px;
}
.user-block-line{
    padding-top: 2px;
    padding-bottom: 5px;
}
.user-block-line input{
    text-align: center;
}
.user-block-line option{
    text-align: center;
}