<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Itinerary Item Added</title>
    <link th:href="@{css/main.css}" rel="stylesheet">
    <link th:href="@{css/home.css}" rel="stylesheet">
</head>
<body>
    <div class="navbar">
        <a th:href="@{/home}" id="navLogo">Luke &amp; Ella 2022</a>
        <a th:href="@{/where}" id="nav1">Where</a>
        <a th:href="@{/itinerary}" id="nav2">Itinerary</a>
        <a th:href="@{/faqs}" id="nav3" >Q&amp;A</a> <!---->
        <a th:href="@{/gifts}" id="nav4">Gift List</a>
    </div>
    <div align="center">
        <h2>Itinerary Item Added Successfully!</h2>
        <span>Title:</span><span th:text="${item_to_add_or_update.title}"></span><br/>
        <span>Description:</span><span th:text="${item_to_add_or_update.description}"></span>
    </div>
</body>
</html>