<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
>
<head>
  <link th:href="@{/css/xmain.css}" rel="stylesheet" />
  <meta charset="UTF-8">
  <title>Itinerary Does Not Exist!</title>
</head>
<body>
<div class="navbar">
  <a th:href="@{/home}" id="navLogo">Luke &amp; Ella 2022</a>
  <a sec:authorize="hasAuthority('ADMIN')" th:href="@{/users}" id="nav1">Users</a>
  <a th:href="@{/itinerary}" id="nav2">Itinerary</a>
  <a th:href="@{/faqs}" id="nav3" >Q&amp;A</a> <!---->
  <a th:href="@{/gifts}" id="nav4">Gift List</a>
</div>
<h1>Non-existent itinerary item ID provided. Please provide a valid itinerary item ID.</h1>
</body>
</html>