<!doctype html>
<html id="index" lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8">
  <link th:href="@{/styles/css/main.css}" rel="stylesheet">
    <link th:href="@{/styles/css/index.css}" rel="stylesheet">
  <title>Welcome</title>
</head>
<body>
<div class="container">
  <div class="login" id="login">
    <form>
      <input type="text" class="input-fields" id="username" placeholder="username"/>
      <input type="password" class="input-fields" id="password" placeholder="password"/>
      <a class="input-fields" id="login-button" th:href="@{/login}">Login</a>
      <a class="input-fields" id="register-button" th:href="@{/register}">Register</a>
    </form>
  </div>
</div>
</body>
</html>