<!DOCTYPE html>
<html class="landing-login-register" lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <link th:href="@{/css/landing-login-register.css}" rel="stylesheet">
  <link th:href="@{/css/xmain.css}" rel="stylesheet">
  <meta charset="UTF-8">
  <title>Register</title>
</head>
<body>
<div class="container-main">
  <div class="container-sub">
    <form th:action="@{/process-registration}" th:object="${user}" method="post">
      <input type="text" th:field="*{name}" class="input-fields" placeholder="username">
      <input type="email" th:field="*{email}" class="input-fields" placeholder="email" />
      <input type="password" th:field="*{password}" class="input-fields" id="p1" placeholder="password"/>
      <button type="submit" class="input-fields">Register</button>
    </form>
  </div>
</div>
</body>
</html>