<!DOCTYPE html>
<html lang="en"
      class="landing-login-register"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <link th:href="@{/css/landing-login-register.css}" rel="stylesheet">
  <link th:href="@{/css/xmain.css}" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8">
  <title>Success</title>
</head>
<body>
  <div class="container-main">
    <h4 class="verify">Please check your email to verify your account.</h4>
  </div>
</body>
</html>