<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>FAQ added</title>
</head>
<body>
<div class="navbar">
  <a th:href="@{/home}" id="navLogo">Luke &amp; Ella 2022</a>
  <a th:href="@{/where}" id="nav1">Where</a>
  <a th:href="@{/itinerary}" id="nav2">Itinerary</a>
  <a th:href="@{/faqs}" id="nav3" >Q&amp;A</a> <!---->
  <a th:href="@{/gifts}" id="nav4">Gift List</a>
</div>
<div align="center">
  <h2>Gift Added Successfully!</h2>
  <span>Q:</span><span th:text="${faq_to_add_or_update.question}"></span><br/>
  <span>A:</span><span th:text="${faq_to_add_or_update.answer}"></span><br/>
  <span>Last updated:</span><span th:text="${faq_to_add_or_update.lastUpdated.toString()}"></span><br/>
</div>
</body>
</html>