<!doctype html>
<html id="index" lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8">
  <link th:href="@{css/main.css}" rel="stylesheet">
  <link th:href="@{css/home.css}" rel="stylesheet">
<!--  <link rel="stylesheet" href="main.css">-->
<!--  <link rel="stylesheet" href="home.css">-->
  <title>Luke &amp; Ella 2022</title>
</head>
<body>
<div class="container">
  <div class="navbar">
    <a href="index.html" id="navLogo">Luke &amp; Ella 2022</a>
    <a href="Where.html" id="nav1">Where</a>
    <a href="itinerary.html" id="nav2">Itinerary</a>
    <a href="/faqs" id="nav3" >Q&amp;A</a> <!--th:action="@{/faqs}"-->
    <a th:href="@{/gifts}" id="nav4">Gift List</a>
  </div>
  <div class="homeInfoBox">
    <div class="homeInfoText">
      <h1>Luke &amp; Ella</h1>
      <h2>are getting married!</h2>
      <p>Please celebrate with us.</p>
      <h3>Dublin, Ireland </h3>
      <h3>Saturday 18 June 2022</h3>
    </div>
  </div>
</div>
</body>
</html>